# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

react-hooks-crud/.pnp
react-hooks-crud/.pnp.js

# testing
react-hooks-crud/coverage/

# production
react-hooks-crud/build/

# misc
react-hooks-crud/.DS_Store
react-hooks-crud/.env
react-hooks-crud/.env.local
react-hooks-crud/.env.development.local
react-hooks-crud/.env.test.local
react-hooks-crud/.env.production.local

react-hooks-crud/npm-debug.log*
react-hooks-crud/yarn-debug.log*
react-hooks-crud/yarn-error.log*


react-hooks-crud/node_modules
react-hooks-crud/build
react-hooks-crud/.firebase


# photo-gallery

photo-gallery/node_modules
photo-gallery/.pnp
photo-gallery/.pnp.js
photo-gallery/coverage
photo-gallery/build
photo-gallery/.DS_Store
photo-gallery/.env.local
photo-gallery/.env.development.local
photo-gallery/.env.test.local
photo-gallery/.env.production.local
photo-gallery/.vscode/*
photo-gallery/!/.vscode/extensions.json
photo-gallery/.idea

photo-gallery/npm-debug.log*
photo-gallery/yarn-debug.log*
photo-gallery/yarn-error.log*
photo-gallery/.eslintcache


# react-solid
react-solid/node_modules
react-solid/.pnp
react-solid/.pnp.js
react-solid/coverage
react-solid/build
react-solid/.DS_Store
react-solid/.env.local
react-solid/.env.development.local
react-solid/.env.test.local
react-solid/.env.production.local
react-solid/npm-debug.log*
react-solid/yarn-debug.log*
react-solid/yarn-error.log*

#  ionic-react-pwa
ionic-react-pwa/node_modules
ionic-react-pwa/.pnp
ionic-react-pwa/.pnp.js
ionic-react-pwa/coverage
ionic-react-pwa/build
ionic-react-pwa/.DS_Store
ionic-react-pwa/.env.local
ionic-react-pwa/.env.development.local
ionic-react-pwa/.env.test.local
ionic-react-pwa/.env.production.local
ionic-react-pwa/npm-debug.log*
ionic-react-pwa/yarn-debug.log*
ionic-react-pwa/yarn-error.log*

# connect-pharma

connect-pharma/node_modules
connect-pharma/.pnp
connect-pharma/.pnp.js
connect-pharma/coverage
connect-pharma/build
connect-pharma/.DS_Store
connect-pharma/.env.local
connect-pharma/.env.development.local
connect-pharma/.env.test.local
connect-pharma/.env.production.local
connect-pharma/npm-debug.log*
connect-pharma/yarn-debug.log*
connect-pharma/yarn-error.log*
connect-pharma/.env

# learn-react-vite

learn-react-vite/node_modules
learn-react-vite/.pnp
learn-react-vite/.pnp.js
learn-react-vite/coverage
learn-react-vite/build
learn-react-vite/.DS_Store
learn-react-vite/.env.local
learn-react-vite/.env.development.local
learn-react-vite/.env.test.local
learn-react-vite/.env.production.local
learn-react-vite/npm-debug.log*
learn-react-vite/yarn-debug.log*
learn-react-vite/yarn-error.log*
learn-react-vite/.env

#

/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
